
body {
    background: white;
}

.main-header {
    padding: 10px;
    background: -webkit-linear-gradient(rgb(228, 171, 171), rgb(236, 8, 122));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}